<!-- <p>customerlist works!</p>

<table class="table table-striped">
    <thead>
        <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email_Id</th>
        <th>Mobile_no</th>
        <th>Adhaar_no</th>
        <th>Pan_no</th>
        <th>salary</th>
        <th>loan_amount_required</th>
        <th>loan_repayment_months</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.emailid}}</td>
            <td>{{customer.mobile_no}}</td>
            <td>{{customer.adhaar_no}}</td>
            <td>{{customer.pan_no}}</td>
            <td>{{customer.salary}}</td>
            <td>{{customer.loan_amount_required}}</td>
            <td>{{customer.loan_repayment_months}}</td>       
        </tr>
    </tbody>
</table> -->
