<!-- <p>angularfileuploader works!</p> -->

<!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->
<div class="body">
<div class="container">
  <form>
    <div class="card-details">
       <div class="card-box">
      <label>Upload Documents(Mandatory *)</label>
      <br />
      <select id="selectDocumentType" name="documents">
        <option value="">Please pick a type</option>
        <option value="adhaar card">Adhaar Card</option>
        <option value="pan card">Pan Card</option>
        <option value="voter id card">Voter Id Card</option>
        <option value="passport">Passport</option>
      </select>
    </div>
    <br />
    <div class="card-box">
      <label>Images or Documents(upload below 2mb)</label>

      <br />
      <input
        type="file"
        id="chooseFile"
        name="imageFile"
        (change)="onSelectFile($event)"
        style="height: 100%"
      />
    </div>
     <div class="button1">
    <button id="uploadDocumentsButton"
      (click)="onUpload()"
    >
      Upload Documents
    </button>

    <button id="applyLoanButton"
      (click)="onSubmit()"
    >
      Apply for loan
    </button>
     </div>
    <div class="button">
      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" (click)="onClick()">
          1
        </button>

        <button class="btn btn-secondary" type="submit">2</button>
      </div>
    </div>
    </div>
  </form>
</div>
</div>

  <!-- <div class="container row">
    <class="col-md-12">
      <p id="demo"></p>
      <p>Your Loan id is : {{ customers[customers.length - 1].loan_id }}</p>
  </div> -->
<!-- </div> -->
