<!-- <p>profile-list works!</p> -->
<div class="body">
<h2 class="text-center">Customer Details</h2>
<table class ="table table-striped">
        <div class="card">
            <div class="card-body">
             <table class="table table-striped">
                 <thead>
                     <tr>
                     <th>Name : {{customers.name}}</th>
                     <th>Address : {{customers.address}}</th>
                     <th>Email_Id : {{customers.emailid}}</th>
                     </tr>
                     <tr>
                     <th>Mobile_no : {{customers.mobile_no}}</th>
                     <th>Adhaar_no : {{customers.adhaar_no}}</th>
                     <th>Pan_no : {{customers.pan_no}}</th>
                     </tr>
                     <tr>
                     <th>salary :{{customers.salary}}</th>
                     <th>emi_per : </th>
                     <th>loan_repayment_months :{{customers.loan_repayment_months}}</th>
                 </tr>
                 </thead>
        <!-- <tbody>
            <tr *ngFor = "let profile of profiles">
            <td>{{profile.name}}</td>
            <td>{{profile.mobile_no}}</td>
            <td>{{profile.emailid}}</td>
            <td>{{profile.address}}</td>
            <td>{{profile.loan_id}}</td>
            <td>{{profile.monthlyemi}}</td>
            <td>
                <button (click) ="updateprofile(profile.loanid)" class="btn btn-info"> update</button>
                <button (click) ="deleteprofile(profile.loanid)" class="btn btn-info">Delete</button>
            </td>

            </tr>
        </tbody> -->
    
</table>
</div>
