
.body{
    color:#fff;
   height:100vh;
   background: linear-gradient(135deg ,#05073a,#dc0606ca);
   padding: 10px;
}
.body .card{
    margin:50px;
    padding:10px;
    background: linear-gradient(135deg ,#05073a,#dc0606ca);
}
.card th{
    color: #fff;
}